:root {
	--timetable-width: 80%;
	--column-width: 10%;
	--column-height:20px;

};

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Cellcolumns{
	display:inline;	
	float: left;
	width: var(--column-width);
}

.DataCell{
	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: var(--column-height);
	/*width: var(--column-width);*/
	background-color: #e7e7e7; 
	position: relative;
	color: black;
	border: 0.1px solid black;

}

.DayCell{
	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: var(--column-height);
	/*width: var(--column-width);*/
	position: relative;
	background-color: #008CBA;
	border: 0.1px solid black;
	text-align: center;
}

.TimeCell{

	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: 20px;
	width: 100px;
	background-color: #008CBA;
	border: 1px solid #008CBA;
	position: relative;
	top: -10px;
	border: 0.1px solid black;
	text-align: right;
}

.TimeTable{
	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: 1000px;
	width: var(--timetable-width);
	background-color: #008CBA;
	border: 0.1px solid black;
	min-width: 500px;
	position: relative;
}

td, th, tr{
	margin: 0px;
	padding: 0px 0px;
	border: 0;	
	border: 1px solid black;
	
/*	vertical-align: middle;
*/}

table{
	margin: 0px;
	padding: 0px 0px;
	border: 0;	
	border-collapse: collapse;
}