:root {
	--timetable-width: 80%;
	--cell-width: 14%;
	--cell-height:30px;

};

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Cellcolumns{
	display:inline;	
	float: left;
	width: var(--cell-width);
}

.TimeTableDayColumns{
	margin: 0px;c
	padding: 0px 0px;
	border: 0;
    position: absolute;
    left: 50px;
    width: 95%;
    box-sizing:border-box;
}

.DataCell{
	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: var(--cell-height);
	/*width: var(--column-width);*/
	background-color: #e7e7e7; 
	position: relative;
	color: black;
	border: 0.1px solid black;
	box-sizing:border-box;

}

.DayCell{
	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: var(--cell-height);
	/*width: var(--column-width);*/
	position: relative;
	background-color: #008CBA;
	border: 0.1px solid black;
	text-align: center;
	box-sizing:border-box;
}

.TimeCell{

	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: var(--cell-height);
	width: 50px;
	background-color: #008CBA;
	border: 1px solid #008CBA;
	position: relative;
	top: -15px;
	border: 0.1px solid black;
    text-align: center;
    box-sizing:border-box;
}

.TimeTable{
	margin: 0px;
	padding: 0px 0px;
	border: 0;
	height: 1000px;
	width: var(--timetable-width);
	background-color: #008CBA;
	border: 0.1px solid black;
	min-width: 500px;
	position: relative;
	box-sizing:border-box;
}
