:root {
	--cell-width: calc((100%)/7);
	--cell-height:30px;
	--time-width: 50px;

};

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div{
	margin: 0px;
	box-sizing:border-box;
	margin-right:-1px;
	margin-bottom:-1px;

}

.TimeTable{
	border: 0;
	height: 500px;
	width: 100%;
	/*background-color: #ffffff;*/
	background-color: #3399ff;
	min-width: 500px;
	position: relative;
	
}

.Cellcolumns{
	display:inline;	
	float: left;
	width: var(--cell-width);

}

.TimeTableDayColumns{
    position: absolute;
    left: 50px;
    right:0px;
}

.TimeCell{
	padding: 0px 5px;
	height: var(--cell-height);
	line-height: var(--cell-height);
	width: var(--time-width);
	position: relative;
	top: calc(var(--cell-height)/(-2));
    text-align: right;
    font-size: 12px;
}

.DayCell{
	height: var(--cell-height);
	line-height: var(--cell-height);
	/*width: var(--column-width);*/
	position: relative;
	/*background-color: #ffffff;*/
	background-color: #ff6699;
	border: 0.1px solid #ffffff;
	text-align: center;
	font-size: 18px;
}

.DataCell{
	height: var(--cell-height);
	/*width: var(--column-width);*/
	background-color: #ffffff; 
	position: relative;
	color: black;
	border: 0.1px solid #cccccc;
}

